.bshadow{
    box-shadow: 4px 6px 10px 4px rgb(188, 179, 179);
    background-image: linear-gradient(to left,aliceblue,rgb(179, 197, 179));
    border-radius: 4px;
}
.btnn{
    background-color: rgb(87, 87, 178);
    border-radius: 4px;
    color: white;
}

.rounded{
    background-image: linear-gradient(to left,pink,skyblue);
}

.bl{
    box-shadow: 4px 6px 10px 4px rgb(188, 179, 179);
    background-color: aliceblue;
    border-radius: 4px;
    color: black;
    margin: 5px;
}
#center{
    background-color: aliceblue;
    box-shadow: 3px 3px 8px 3px rgb(175, 170, 180);
    border-radius: 4px;
}